
<%= render @story %>

<h3><Comments</h3>
<div id="comments">
  <%= render @story.comments %>
<div>

<%= render :file => 'comments/new' %>

<%#= link_to 'Edit', edit_story_path(@story) %>
<%#= link_to 'Back', stories_path %>
<%= link_to 'Signout', '/signout' %>
