<h2> Welcome to This Can't Be True </h2>
<h2> Please complete your profile </h2>

<%= link_to "Student", '/complete_student' %>
<%= link_to "Instructor", '/complete_instructor' %>
<%= link_to "Author", '/complete_author' %>
